SECRET_KEY=
DEBUG=True

# Database settings: Defaults work out of the box with Docker
# Only set these if you want to override the defaults
# DB_NAME=
# DB_USER=
# DB_PASSWORD=
# DB_HOST=localhost
# DB_PORT=5432

# MinIO settings: Defaults work out of the box with Docker
# Only set these if you want to override the defaults
# MINIO_USER=
# MINIO_PASSWORD=
# MINIO_BUCKET=
# MINIO_ENDPOINT=localhost:9000
